@media (max-width: 1024px){


}

@media (max-width: 768px){
    .wrapper{
        width: 768px;
    }

    header {
       nav{
        display: none;
       }

       .burger-menu {
            display: block;
        } 

        .nav-menu {
            gap: 40px;
        }
    }
    
    #About{
        height: 862px;
        gap:20px;

        p{
            width: 728px;
            padding: 0;
            margin: 0;
            margin-top: 40px;
        }
        
        .images-container {
            column-gap: 58px;
        }

        .images-container img:nth-child(3),
        .images-container img:nth-child(4) {
            display: none; 
        }

    
        .change-icon {
            display: block;
            align-self: center;
        }

        .btns {
            margin-top: 0;
        }
    
    }

    #Favorites {
        height: 2629px;

        .books {
            align-self: center;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr); 
            row-gap: 40px; 
          }



    }

    #CoffeShop{
        height: 1481px;

        .menu{
            flex-direction: column;
        }

    }

    #Contacts{
        height: 995px;

        .contacts{
            flex-direction: column;
        }
    }

    #LibraryCard{
        height: 857px;
    
        .cards-info {
           flex-direction: column;
        }

    }    

}