@media (max-width: 1440px) {
  #Favorites {
    height: 2629px;
    row-gap: 33px;
  }
  #Favorites .favs-heading {
    margin-top: 25px;
  }
  #Favorites .books {
    align-self: center;
    padding-right: 43px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 38px;
  }
  #About .images-container img:nth-child(2),
  #About .images-containe img:nth-child(3),
  #About .images-containe img:nth-child(4),
  #About .images-containe img:nth-child(5) {
    display: none;
  }
  #About .change-icon {
    display: block;
    padding-top: 295px;
    width: 8px;
    height: 11px;
  }
  #About .btns button:nth-child(4) {
    display: block;
  }
}
@media (max-width: 1044px) {
  header .nav {
    display: none;
  }
  header .burger-icon {
    display: block;
    background-color: #000000;
    border: none;
    cursor: pointer;
  }
  header .nav-menu {
    gap: 40px;
  }
  #About {
    height: 862px;
    gap: 20px;
  }
  #About p {
    width: 728px;
    padding: 0;
    margin: 0;
    margin-top: 40px;
  }
  #About .images-container {
    -moz-column-gap: 65px;
         column-gap: 65px;
  }
  #About .images-container img:nth-child(3),
  #About .images-container img:nth-child(4) {
    display: none;
  }
  #About .btns {
    margin-top: 0;
  }
  #About .btns button:nth-child(5) {
    display: block;
  }
  #CoffeShop {
    height: 1481px;
  }
  #CoffeShop .menu {
    flex-direction: column;
    row-gap: 40px;
  }
  #CoffeShop .heading {
    width: 728px;
  }
  #CoffeShop .menu-type {
    width: 100%;
    align-self: flex-start;
  }
  #Contacts {
    height: 1055px;
  }
  #Contacts .contacts {
    flex-direction: column;
    row-gap: 100px;
  }
  #Contacts .contact-info {
    width: 100%;
    text-align: left;
    gap: 20px;
  }
  #LibraryCard {
    height: 837px;
  }
  #LibraryCard .cards-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #LibraryCard .get-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    margin-top: 20px;
    text-align: center;
  }
  #LibraryCard .get-card p {
    margin-top: 30px;
    text-align: center;
    width: 600px;
  }
}
@media (max-width: 750px) {
  #Favorites label {
    padding-right: 67px;
  }
  #CoffeShop .heading {
    width: 90%;
  }
  #Contacts img {
    width: 600px;
  }
}
@media (max-width: 717px) {
  #Contacts {
    margin-top: 20px;
  }
}
@media (max-width: 660px) {
  #About p {
    width: 600px;
    margin: 20px 0;
  }
  #About .images-container {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  #LibraryCard .cards-info {
    width: 95%;
  }
  #LibraryCard .card-inf h6 {
    width: 90%;
  }
  #LibraryCard form {
    width: 550px;
  }
  #Contacts img {
    width: 550px;
  }
  footer .line {
    width: 90%;
  }
  footer .contacts-hours {
    width: 90%;
  }
  footer .links {
    width: 90%;
  }
  .welcome {
    width: 550px;
  }
}/*# sourceMappingURL=media.css.map */