@import 'utils';

body {
    background-color: $black-color;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.wrapper {
    width: 1440px; 
    // height: 100vh; 
    background-color: $main-color;
}

header {
    background-color: $dark;
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;

    ul {
        display: flex;
        column-gap: 30px;
        list-style: none;

        a {
            color: $main-color;
            text-decoration: none;
        }
    }
}

#Welcome {
    background: url('../images/Welcome.jpg'), lightgray 50% / cover no-repeat;
    height: 600px;
    position: relative;
}

main {
    background-color: $main-color;
}

.welcome {
    background-color: $black-color;
    position: absolute;
    top: 220px;
    left: 0;
    display: flex;
    text-align: center;
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    h2 {
        flex-shrink: 0;
        color: $main-color;
        text-align: center;
        font-family: Forum;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; 
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

h2 {
    margin: 0;
    text-align: center;
    @include heading2;
    color: $dark;
    font-size: 40px;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $dark;
}

#About {
    height: 837px;
    @include flex-col;
    
    p{
        padding-top: 61px;
        font-size: 20px;
        text-align: center;
    }

    img {
        width: 450px;
        height: 560px;
    }

    .images-container {
        display: flex;
        column-gap: 25px;
    }

    .btns {
        @include flex;
        padding-top: 40px;
    }

    .button {
        position: relative; 
        background-color: transparent;
        border: none;
        height: 26px;
        width: 26px;
        padding: 0; 
        cursor: pointer; 
    }

    .button-circle {
        position: absolute; 
        top: 5px; 
        left: 5px;
        height: 16px;
        width: 16px;
        background-color: $dark;
        border-radius: 50%;
        z-index: 1;
    }


}

p {
    @include text;
}

#Favorites {
   height: 1439px;
   padding: 0 20px;

    p {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.6px;
   }

    .radio-container {
    display: flex;
    gap: 20px;
    align-items: center;
  }

    label {
    margin-right: 90px;
  }

    input[type="radio"]:checked + label {
    font-weight: bold;
  }

  .books {
    @include flex;
    padding-top: 40px;
  }

  h5 {
    @include text;
    font-size: 15px;
    font-weight: 700;
  }
   
  button {
    width: 75px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .info {
    width: 355px;
  }

  p {
    font-size: 15px;
    text-transform: capitalize;
  }

  .book-info {
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    position: relative;
    @include flex-col;
    align-items: start;
  }

}

#CoffeShop{
    height: 841px;
    @include flex-col;

    p {
        font-size: 20px;
    }

    .heading {
       padding-top: 41px;
       width: 1400px;
       text-align: center;
    }

    .menu {
        @include flex;
        justify-content: space-between;
        width: 1400px;
        height: 520px;
    }

    h3{
        @include heading2;
        color: $beige;
        font-size: 40px;
    }

    h3::after {
        content: none;
    }
     
    .menu-type {
        @include flex-col;
    }

    .menu-items {
        @include flex-col;

    }

    .menu-item {
        @include flex;
        text-align: left;
    }

    .price {
        font-family: Forum;
    }
}

.bold {
    font-weight: 700;
}

#Contacts {
    height: 575px;
    @include flex-col;

    .contacts {
        padding: 40px 0;
        @include flex;
        justify-content: space-between;
        width: 1400px;
        height: 414px;
    }

    .contact-info {
        @include flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    
    img {
    width: 696px;
    height: 414px;
    }
}

button {
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: $main-color;
    color: $dark;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

#LibraryCard{
    @include flex-col;
    height: 614px;
    padding: 0 20px;

    h2{
        padding-bottom: 41px;
    }

    .cards-info {
       display: flex;
       column-gap: 344px;
    }

    .find-card {
        text-align: center;

        p {
            font-size: 30px;
            letter-spacing: 0.6px;
        }

        form {
            @include flex;
            width: 600px;
            height: 387px;
            padding-bottom: 0px;
            justify-content: center;
            border: 3px solid $beige;
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            button{
                display: inline-flex;
                padding: 10px 40px;
                align-items: flex-end;
                font-size: 20px;
                
            }
        }

        .card-inf {
            width: 560px;
            height: 272px;
            background: $beige;
            row-gap: 20px;
            @include flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        input {
            width: 520px;
            height: 66px;
            border-radius: 10px;
        }

        input::placeholder{
            color: $gray;
            font-family: Forum;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 50px; 
            letter-spacing: 0.6px;
        }
    }

    h6 {
        @include heading2;
        padding-top: 20px;
        margin: 0;
        font-size: 30px;
        letter-spacing: 0.6px;
        text-transform: none;
    }

    .get-card {
        width: 456px;
        height: 253px;
        text-align: right;

        p {
            text-align: right;
            font-size: 20px;
            letter-spacing: 0.4px;
        }

        button {
            display: inline-flex;
            width: 75px;
            height: 30px;
            padding: 10px 0px;
            justify-content: center;
            align-items: center;
        }
    }

}

footer {
    height: 250px;
    background-color: $black-color;
    color: $main-color;

    a {
        color: $main-color;
        text-decoration: none;
    }
}