body {
  background-color: #000000;
  min-width: 640px;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

header {
  background-color: #0C0C0E;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}
header ul {
  gap: 30px;
  padding-right: 40px;
}
header .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .burger-icon {
  display: none;
}
header button {
  background-color: #000000;
  border: none;
  cursor: pointer;
}
header button:hover {
  background-color: #000000;
  border: none;
}
header .profile-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
  justify-content: flex-start;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear, visibility 0.3s linear;
  width: 80px;
  height: 110px;
  background-color: #FFFFFF;
  color: #0C0C0E;
  z-index: 99;
  position: absolute;
  top: 60px;
  right: 0;
  row-gap: 10px;
}
header .profile-menu h6,
header .profile-menu button {
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  position: relative;
  background-color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  margin: 0;
}
header .profile-menu h6 {
  font-weight: 700;
  margin-bottom: 10px;
}
header .profile-menu h6::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #BB945F;
}
header .burger-menu {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear, visibility 0.3s linear;
  width: 332px;
  height: 570px;
  background-color: #0C0C0E;
  position: absolute;
  top: 6px;
  right: 0;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 100;
  gap: 30px;
  padding-top: 20px;
}
header .burger-menu div {
  display: flex;
  margin-right: 20px;
  align-self: flex-end;
  gap: 53px;
  justify-content: flex-end;
  align-items: center;
}
header .burger-menu ul {
  flex-direction: column;
  gap: 30px;
}
header .burger-menu li {
  text-align: center;
}
header a {
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: normal;
  transition: color 0.3s ease;
}
header a:hover {
  color: #BB945F;
  text-decoration: underline;
  text-decoration-color: #BB945F;
  letter-spacing: 0.5px;
}

h1 {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #FFF;
  font-family: Forum;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
}

main {
  background-color: #FFFFFF;
}

#Welcome {
  background: url("../images/Welcome.jpg"), lightgray 50%/cover no-repeat;
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Welcome .modal_login,
#Welcome .modal_register {
  visibility: hidden;
  opacity: 0;
  width: 225px;
  background-color: #FFFFFF;
  color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 25px;
  margin-top: 5px;
  z-index: 100;
  position: relative;
}
#Welcome .modal_login h6,
#Welcome .modal_register h6 {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}
#Welcome .modal_login p,
#Welcome .modal_register p {
  margin: 0;
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.3px;
  align-self: flex-start;
}
#Welcome .modal_login .log-in,
#Welcome .modal_register .log-in {
  width: 75px;
  height: 30px;
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
#Welcome .modal_login .form,
#Welcome .modal_register .form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  margin-bottom: 20px;
}
#Welcome .modal_login .form input,
#Welcome .modal_register .form input {
  width: 195px;
  height: 17px;
}
#Welcome .modal_login .close_btn,
#Welcome .modal_register .close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
}
#Welcome .modal_login .close_btn:hover,
#Welcome .modal_register .close_btn:hover {
  background-color: #FFFFFF;
}
#Welcome .modal_login .registration,
#Welcome .modal_register .registration {
  display: flex;
  align-items: center;
}
#Welcome .modal_login .registration p,
#Welcome .modal_register .registration p {
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-size: 10px;
  line-height: normal;
  letter-spacing: normal;
}
#Welcome .modal_login .registration button,
#Welcome .modal_register .registration button {
  border: none;
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
}
#Welcome .modal_login {
  height: 262px;
}
#Welcome .modal_register {
  height: 382px;
}

input {
  border: 1px solid #BB945F;
}

.welcome {
  background: #000000;
  position: absolute;
  top: 220px;
  left: 0px;
  display: flex;
  text-align: center;
  width: 600px;
  height: 220px;
  justify-content: center;
  align-items: center;
}
.welcome h5 {
  margin: 0;
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  text-align: center;
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #0C0C0E;
  font-size: 40px;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0C0C0E;
}

#About {
  height: 837px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  margin-top: 20px;
  overflow-x: hidden;
}
#About p {
  font-size: 20px;
  text-align: center;
  letter-spacing: normal;
  margin: 61px 0 20px 0;
}
#About img {
  width: 450px;
  height: 560px;
}
#About .images-container {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
#About .change-icon {
  display: none;
}
#About .btns {
  display: flex;
  align-items: center;
  margin: 40px 0 5px 0;
  gap: 10px;
}
#About .btns button:nth-child(4),
#About .btns button:nth-child(5) {
  display: none;
}
#About .button-circle {
  position: relative;
  cursor: pointer;
  border: none;
  padding: 5px;
  top: 5px;
  left: 5px;
  height: 16px;
  width: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
}
#About .button-circle::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
}
#About .active {
  background-color: #BB945F;
}

p {
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

#Favorites {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  padding-top: 0;
  height: 1439px;
  row-gap: 35px;
  margin: 0 20px;
}
#Favorites .favs-heading {
  text-align: left;
  line-height: normal;
  font-size: 20px;
  margin-top: 21px;
  letter-spacing: normal;
  text-transform: none;
  width: 100%;
}
#Favorites p {
  margin: 0;
  line-height: 40px;
  letter-spacing: 0.6px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
#Favorites .radio-container {
  display: flex;
  align-self: flex-start;
  margin-left: 20px;
  align-items: center;
}
#Favorites .radio-container label:last-child {
  padding-right: 0;
}
#Favorites label {
  padding-right: 107px;
  line-height: normal;
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 20px;
  letter-spacing: normal;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}
#Favorites input[type=radio]:checked + label {
  font-weight: bold;
}
#Favorites input[type=radio] {
  display: none;
}
#Favorites label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: -20px;
  bottom: 10px;
  background: url(../images/radio-button.svg) 0 0 no-repeat;
}
#Favorites input[type=radio]:checked + label:before {
  background: url(../images/radio-button-checked.svg) 0 0 no-repeat;
}
#Favorites button:disabled {
  border-color: #BB945F;
  color: #BB945F;
  background-color: #FFFFFF;
}
#Favorites .books {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 260px;
  align-self: flex-start;
}
#Favorites h5 {
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
#Favorites h6 {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #000000;
  font-size: 20px;
  margin: 0;
  position: relative;
  margin-bottom: 20px;
}
#Favorites h6::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #BB945F;
}
#Favorites .head {
  text-transform: uppercase;
}
#Favorites .info {
  padding-top: 20px;
  width: 355px;
}
#Favorites .book-info-content {
  width: 100%;
  height: 100%;
  margin: 15px auto auto 20px;
}
#Favorites .book-info {
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  align-items: start;
  position: relative;
}
#Favorites .book-info button {
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 75px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}
#Favorites img {
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: -1px;
  right: -40px;
}

#CoffeShop {
  height: 841px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  margin: 0 20px;
  gap: 40px;
}
#CoffeShop p {
  font-size: 20px;
  margin: 0;
}
#CoffeShop .heading {
  padding-top: 21px;
  width: 97%;
  text-align: center;
}
#CoffeShop .menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
#CoffeShop h3 {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #BB945F;
  font-size: 40px;
  margin: 0;
}
#CoffeShop h3::after {
  content: none;
}
#CoffeShop .menu-type {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
#CoffeShop .menu-items {
  display: flex;
  align-items: center;
  gap: 60px;
}
#CoffeShop .menu-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
}
#CoffeShop .menu-title p {
  text-transform: capitalize;
}
#CoffeShop .second {
  align-items: flex-end;
}
#CoffeShop .line {
  width: 100px;
  height: 0.5px;
  background: #BB945F;
}
#CoffeShop .lines {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
  gap: 79px;
}
#CoffeShop .menu-price {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
#CoffeShop .price {
  font-family: Forum;
}

.bold {
  font-weight: 700;
}

#Contacts {
  height: 575px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  margin: 0 20px;
}
#Contacts .contacts {
  padding-top: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 414px;
}
#Contacts .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 23px;
  height: 100%;
}
#Contacts .contact-info div:first-child p:first-child {
  margin-bottom: 40px;
}
#Contacts .contact-info div:nth-child(2) p:first-child {
  margin-bottom: 20px;
}
#Contacts .tels p:not(:first-of-type) {
  margin-bottom: 20px;
}
#Contacts a,
#Contacts p {
  font-size: 20px;
  text-transform: capitalize;
}
#Contacts a {
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}
#Contacts p {
  text-align: left;
  margin: 0;
}
#Contacts img {
  width: 696px;
  height: 414px;
}

main button {
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #FFFFFF;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: background-color 0.5s ease;
}
main button:hover {
  border: 1px solid #BB945F;
  background-color: #BB945F;
}

#LibraryCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 595px;
  margin: 0 20px;
  justify-content: flex-start;
}
#LibraryCard .cards-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#LibraryCard .find-card {
  text-align: center;
}
#LibraryCard .find-card p {
  font-size: 30px;
  letter-spacing: 0.6px;
}
#LibraryCard .find-card p:first-child {
  margin: 61px auto 25px auto;
}
#LibraryCard .find-card form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 597px;
  height: 384px;
  border: 3px solid #BB945F;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#LibraryCard .find-card form button {
  margin-top: 15px;
  margin-bottom: 10px;
  display: inline-flex;
  padding: 10px 40px;
  align-items: flex-end;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  font-weight: 700;
  letter-spacing: 1px;
}
#LibraryCard .find-card .card-inf {
  width: 560px;
  height: 272px;
  background: #BB945F;
  row-gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#LibraryCard .find-card .card-inf h6 {
  width: 100%;
  text-align: left;
  margin-left: 35px;
  margin-bottom: 10px;
}
#LibraryCard .find-card input {
  width: 520px;
  height: 66px;
  border-radius: 10px;
  border: none;
}
#LibraryCard .find-card input::-moz-placeholder {
  color: #8E8E8E;
  padding-left: 20px;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}
#LibraryCard .find-card input::placeholder {
  color: #8E8E8E;
  padding-left: 20px;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}
#LibraryCard h6 {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  font-size: 30px;
  letter-spacing: 0.6px;
  text-transform: none;
}
#LibraryCard .get-card {
  width: 456px;
  height: 253px;
  text-align: right;
  margin-top: 61px;
}
#LibraryCard .get-card p {
  margin-top: 25px;
  margin-bottom: 0;
  text-align: right;
  font-size: 20px;
  letter-spacing: 0.4px;
}
#LibraryCard .get-card .buttons {
  padding-top: 40px;
}
#LibraryCard .get-card button {
  display: inline-flex;
  font-size: 10px;
  font-weight: 700;
  width: 75px;
  height: 30px;
  padding: 10px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
}
#LibraryCard .get-card button:nth-child(1) {
  margin-right: 15px;
}

footer {
  height: 250px;
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
}
footer a {
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
}
footer p {
  color: #FFFFFF;
  line-height: 20px;
}
footer .line {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}
footer .contacts-hours {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
footer .contacts-hours a {
  text-align: left;
  font-size: 15px;
  letter-spacing: normal;
}
footer .contacts-hours p {
  margin: 0;
  width: 149px;
  text-align: right;
  font-size: 15px;
  letter-spacing: normal;
}
footer .contacts-hours .row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
footer .contacts-hours .location {
  text-align: left;
  width: 229px;
}
footer .contacts-hours .date {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
footer .social {
  margin: 0;
  padding: 0;
  gap: 15px;
}
footer .links {
  width: 100%;
  padding: 44px 0;
  display: flex;
  justify-content: space-between;
}
footer .links a,
footer .links p {
  font-size: 20px;
  line-height: 20px;
  margin: 0;
}/*# sourceMappingURL=style.css.map */