body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 1440px;
  background-color: #FFFFFF;
}

header {
  background-color: #0C0C0E;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
header ul {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  list-style: none;
}
header ul a {
  color: #FFFFFF;
  text-decoration: none;
}

#Welcome {
  background: url("../images/Welcome.jpg"), lightgray 50%/cover no-repeat;
  height: 600px;
  position: relative;
}

main {
  background-color: #FFFFFF;
}

.welcome {
  background-color: #000000;
  position: absolute;
  top: 220px;
  left: 0;
  display: flex;
  text-align: center;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.welcome h2 {
  flex-shrink: 0;
  color: #FFFFFF;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  text-align: center;
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #0C0C0E;
  font-size: 40px;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0C0C0E;
}

#About {
  height: 837px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
#About p {
  padding-top: 61px;
  font-size: 20px;
  text-align: center;
}
#About img {
  width: 450px;
  height: 560px;
}
#About .images-container {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
#About .btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
}
#About .button {
  position: relative;
  background-color: transparent;
  border: none;
  height: 26px;
  width: 26px;
  padding: 0;
  cursor: pointer;
}
#About .button-circle {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 16px;
  width: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
  z-index: 1;
}

p {
  font-family: Inter;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

#Favorites {
  height: 1439px;
}
#Favorites p {
  font-size: 20px;
}

#CoffeShop {
  height: 841px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#CoffeShop p {
  font-size: 20px;
}
#CoffeShop .heading {
  padding-top: 41px;
  width: 1400px;
  text-align: center;
}
#CoffeShop .menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1400px;
  height: 520px;
}
#CoffeShop h2 {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #BB945F;
}
#CoffeShop h2::after {
  content: none;
}
#CoffeShop .menu-type {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
#CoffeShop .menu-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
#CoffeShop .menu-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#CoffeShop .price {
  font-family: Forum;
}

#Contacts {
  height: 575px;
}

#LibraryCard {
  height: 614px;
}

footer {
  height: 250px;
  background-color: #000000;
  color: #FFFFFF;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */