@import 'utils';

body {
    background-color: $black-color;
    min-width: 640px;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
}

a {
    color: $main-color;
    text-decoration: none;
}

header {
    background-color: $dark;
    color: $main-color;
    @include flex;
    height: 90px;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;

    ul {
        gap: 30px;
        padding-right: 40px;
    }

    .nav-menu {
        @include flex;
        // visibility: visible;
        justify-content: center;
        // opacity: 1;
        // transition: opacity 0.5s linear, visibility 0.5s linear;
    }

    .burger-icon {
        display: none;
    }

    button {
        background-color: $black-color;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: $black-color;
        border: none;
        // cursor: pointer;
    }

    .profile-menu {
        @include flex-col;
        padding-top: 5px;
        justify-content: flex-start;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s linear, visibility 0.3s linear;
        width: 80px;
        height: 110px;
        background-color: $main-color;
        color: $dark;
        z-index: 99;
        position: absolute;
        top: 60px;
        right: 0;
        row-gap: 10px;

        h6,
        button {
            @include text;
            position: relative;
            background-color: $main-color;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: normal;
            margin: 0;
        }

        h6 {
            font-weight: 700;
            margin-bottom: 10px;
        }

        h6::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 1px;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $beige;
        }
    }


    .burger-menu {
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s linear, visibility 0.3s linear;
        width: 332px;
        height: 570px;
        background-color: $dark;
        position: absolute;
        top: 6px;
        right: 0;
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 100;
        gap: 30px;
        padding-top: 20px;

       
        div {
            display: flex;
            margin-right: 20px;
            align-self: flex-end;
            gap: 53px;
            justify-content: flex-end;
            align-items: center;

        }

        
        ul {
            flex-direction: column;
            gap: 30px;
        }

        li {
            text-align: center;
        }
    }

    a {
        @include text;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        line-height: 50px;
        letter-spacing: normal;
        transition: color 0.3s ease;
    }

    a:hover {
        color: $beige;
        text-decoration: underline;
        text-decoration-color: $beige;
        letter-spacing: 0.5px;

    }
}

h1 {
    @include heading;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    line-height: 50px; 
    letter-spacing: 0.6px;
}

main {
    background-color: $main-color;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
}

#profile-icon-authorized{
    display: none;
    position: relative;
}

.initials-profile-icon{
    margin: 0;
    display: none;
    @include text;
    color: $beige;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: normal;
    position: absolute;
    top: 4px;
    left: 3px;
}

#Welcome {
    background: url('../images/Welcome.jpg'), lightgray 50% / cover no-repeat;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    scroll-behavior: smooth;
    @include flex;
    justify-content: center;


    .close_btn:hover {
        background-color: $main-color;
        border: none;
    }

    .modal-profile{
        visibility: hidden;
        opacity: 0;
        width: 600px;
        height: 400px;
        background-color: $main-color;
        color: $black-color;
        @include flex;
        z-index: 120;
        position: relative;

        .close_btn {
            top: 25px;
            right: 25px;
        }

        p {
            @include text;
            font-size: 20px;            
            line-height: 20px;
        }

        .left {
            @include flex-col;
            width: 170px;
            height: 100%;
            background-color: $black-color;
            row-gap: 15px;

            p{
                @include flex;
                justify-content: center; 
                background-color: $main-color;
                margin: 0;
                padding: 0;
                letter-spacing: normal;
            }

            .initials {                
                width: 80px;
                height: 80px;
                color: $beige;
            }

            .name-surname {
                color: $black-color;
                width: 120px;
                height: 30px;
            }
        }

        .right {
            @include flex-col;
            align-items: flex-start;
            height: 100%;
            margin-left: 20px;
            
            p {
                margin: 0;
                padding-left: 0;
            }
            
            h3 {
               @include heading;
               font-size: 40px;
                line-height: 20px;
                letter-spacing: 0.8px;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 40px;
            }        
            
            .bullet {
                letter-spacing: 2px;
            }
            
            .bullet::before {
                content: '\2022'; 
                color: black;
                padding: 10px; 
            }

            .info {
                @include flex;
                column-gap: 20px;
                margin-bottom: 20px; 
                
                p {
                letter-spacing: 0.4px;
                }

                .number {
                    font-size: 10px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                }
    
            }

            .icons {
                @include flex-col; 
                row-gap: 10px;
            }

            .head {
                font-size: 25px;
                letter-spacing: normal;
                margin-bottom: 30px;
            }

            .first {
                padding-bottom: 10px;
            }

            .card-number {
                @include flex;
                column-gap: 15px;
                margin-top: 40px;
            }

            .card-number-color {
                color: $beige;
            }
            
            p {
                letter-spacing: normal;
            }

           

        }
        
        
    }

    .modal_login, 
    .modal_register {
        visibility: hidden;
        opacity: 0;
        width: 225px;
        background-color: $main-color;
        color: $black-color;
        @include flex-col;
        align-items: flex-start;
        padding-left: 25px;
        margin-top: 5px;
        z-index: 100;
        position: relative;

        h6 {
            @include heading;
            font-size: 20px;
            line-height: 20px; 
            letter-spacing: 0.4px;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 10px;
        }

        p {
            margin: 0;
            @include text;
            text-align: center;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.3px;
            align-self: flex-start;
        }

        .log-in {
            width: 75px;
            height: 30px;
            @include text;
            font-size: 10px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        .form {
            @include flex-col;
            row-gap: 10px;
            margin-bottom: 20px;

            input {
                width: 195px;
                height: 17px;
            }
        }


        .registration{
            @include flex;

            p {
                @include text;
                text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
                font-size: 10px;
                line-height: normal;
                letter-spacing: normal;
            }


            button {
                border: none;
                @include text;
                font-size: 10px;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1px;
                text-decoration-line: underline;
            }
        }
    }

    .modal_login {
        height: 262px;
    }
    
    .modal_register {
        height: 382px;
    }

}

input {
    border: 1px solid #BB945F;
}



.welcome {
    background: $black-color;
    position: absolute;
    top: 220px;
    left: 0px;
    display: flex;
    text-align: center;
    width: 600px;
    height: 220px;
    justify-content: center;
    align-items: center;

    h5 {
        margin:0;
        @include heading;
        font-size: 40px;
        color: $main-color;
        text-align: center;
        line-height: 50px; 
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

h2 {
    margin: 0;
    text-align: center;
    @include heading;
    color: $dark;
    font-size: 40px;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $dark;
}


#About {
    height: 837px;
    @include flex-col;
    justify-content:flex-start;
    margin-top: 20px;
    overflow-x: hidden;
    
    p{
        font-size: 20px;
        text-align: center;
        letter-spacing: normal;
        margin: 61px 0 20px 0;
    }

    img {
        width: 450px;
        height: 560px;
    }

    .images-container {
        display: flex;
        column-gap: 25px;
    }

    .change-icon {
        display: none;
    }

    .btns {
        @include flex;
        margin: 40px 0 5px 0;
        gap: 10px;
    }

    .btns button:nth-child(4),
    .btns button:nth-child(5) {
        display: none;
    }

    .button-circle {
        position: relative;
        cursor: pointer; 
        border: none;
        padding: 5px;
        top: 5px; 
        left: 5px;
        height: 16px;
        width: 16px;
        background-color: $dark;
        border-radius: 50%;
    }

    .button-circle::before {
        content: "";
        position: absolute;
        top: -5px; 
        left: -5px; 
        right: -5px;
        bottom: -5px;
      }

    .active{
        background-color: $beige;
      }

}

p {
    @include text;
}

#Favorites {
   @include flex-col;
   justify-content: flex-start;
   position: relative;
   padding-top: 0;
   height: 1439px;
   row-gap: 35px;
   margin: 0 20px;

   .close_btn:hover, 
   .close_btn {
    background-color: $black-color;
    border: none;
    }

   .modal-buy-card {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 650px;
    height: 540px;
    background-color: $main-color;
    color: $black-color;
    @include flex-col;
    z-index: 120;

    .modal-buy-card-header {
        background-color: $black-color;
        color: $main-color;
        height: 60px;
        width: 100%;

        h3 {
            text-align: center;
            @include heading;
            font-size: 40px;
            line-height: 20px;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            margin: 0;
            margin-top: 20px;
        }
    }

    .close_btn {
        top: 20px;
        right: 20px;
    }

    .modal-buy-card-body {
        @include flex;
        align-items: flex-start;
        column-gap: 40px;
        width: 100%;
        margin-top: 30px;

        p {
            @include text;
            font-size: 15px;
            line-height: 20px;
            text-transform: none;
        }

        .inf-buy-card {
            width: 330px;
            height: 160px;
            // margin-right: 40px;
            color: #8E8E8E;
        }

        .card-information {
            @include flex-col;
            align-items: flex-start;
            row-gap: 10px;
            margin-bottom: 20px;
            margin-left: 40px;
        }

        .form {
            @include flex-col;
            align-items: flex-start;
            row-gap: 10px;
            
            p {
                letter-spacing: 0.3px;
            }

            span input {
                margin-right: 10px; 
                
            }

            .indent {
                margin-bottom: 10px;
            }
        }


        input {
            width: 195px;
            height: 17px;
        }

        .low {
            width: 40px;
        }

        .buy-price {
            @include flex;
            align-items: flex-start;
            column-gap: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .price {
            font-size: 20px;
            font-weight: 700;
            line-height: 20px; 
            text-transform: uppercase;
            align-self: flex-end;
        }

        button {
            width: 75px;
            height: 30px;
            align-self: flex-start;
            @include text;
            font-size: 10px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
        }
    }


   }

   .favs-heading {
    text-align: left;
    line-height: normal;
    font-size: 20px;
    margin-top: 21px;
    letter-spacing: normal;
    text-transform: none;
    width: 100%;
   }
    
    p {
    margin: 0;
    line-height: 40px;
    letter-spacing: 0.6px;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
   }

    .radio-container {
    display: flex;
    align-self: flex-start;
    margin-left: 20px;
    align-items: center;
  }

  .radio-container label:last-child {
    padding-right: 0;
  }

    label {
    padding-right: 107px;
    line-height: normal;
    @include text;
    font-size: 20px;
    letter-spacing: normal;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
  }

    input[type="radio"]:checked + label {
    font-weight: bold;
  }

  input[type=radio] {
	display: none;
  }

    label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: -20px;
        bottom: 10px;
        background: url(../images/radio-button.svg) 0 0 no-repeat;
    }

    input[type=radio]:checked + label:before {
        background: url(../images/radio-button-checked.svg) 0 0 no-repeat;
    }

    button:disabled {
        border-color: $beige;
        color: $beige;
        background-color: $main-color;
    }

  .books {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 40px 260px;
    align-self: flex-start;
  }

  h5 {
    @include text;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
  }

  h6 {
    @include heading;
    color: $black-color;
    font-size: 20px;
    margin: 0;
    position: relative;
    margin-bottom: 20px;
  }

  h6::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $beige;
  }

  .head {
    text-transform: uppercase;
  }

  .info {
    padding-top: 20px;
    width: 355px;
  }

  .book-info-content {
    width: 100%;
    height: 100%;
    margin: 15px auto auto 20px;
  }

  .book-info {
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    @include flex-col;
    justify-content: flex-start;
    align-items: start;
    position: relative;

    button {
        position: absolute;
        bottom: 15px;
        left: 20px;
        width: 75px;
        height: 30px;
        text-align: center;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1px;
      }
  }

  img {
    position: absolute;
    width: 200px;
    height: 300px;
    bottom: -1px;
    right: -40px;
  }

}

#CoffeShop{
    height: 841px;
    @include flex-col;
    justify-content: flex-start;
    margin: 0 20px;
    gap: 40px;

    p {
        font-size: 20px;
        margin: 0;
    }

    .heading {
       padding-top: 21px;
       width: 97%;
       text-align: center;
    }

    .menu {
        @include flex;
        width: 100%;
        justify-content: space-between;
    }

    h3{
        @include heading;
        color: $beige;
        font-size: 40px;
        margin: 0;
    }

    h3::after {
        content: none;
    }
     
    .menu-type {
        @include flex-col;
        align-items: flex-start;
        gap: 40px;
    }

    .menu-items {
        @include flex;
        gap: 60px;
    }

    .menu-title {
        @include flex-col;
        align-items: start;
        gap: 40px;

        p {
            text-transform: capitalize;
        }
    }

    .second{
        align-items: flex-end;
    }


    .line {
        width: 100px;
        height: 0.5px;
        background: $beige;
    }

    .lines {
        @include flex-col;
        padding-top: 5px;
        gap: 79px;
    }
    
    .menu-price {
        @include flex-col;
        gap: 40px;
    }


    .price {
        font-family: Forum;
    }
}

.bold {
    font-weight: 700;
}

#Contacts {
    height: 575px;
    @include flex-col;
    justify-content: flex-start;
    margin: 0 20px;

    .contacts {
        padding-top: 61px;
        @include flex;
        justify-content: space-between;
        width: 100%;
        height: 414px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 23px;
        height: 100%;
    
        div:first-child p:first-child {
        margin-bottom: 40px;
        }

        div:nth-child(2) p:first-child {
            margin-bottom: 20px;
            }
    }

    .tels p:not(:first-of-type) {
        margin-bottom: 20px;
    }

    a,
    p {
        font-size: 20px;
        text-transform: capitalize;

    }

    a {
        @include text;
        
    }

    p {
        text-align: left;
        margin: 0;
    }
    
    img {
    width: 696px;
    height: 414px;
    }
}

main {

    button {
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: $main-color;
    color: $dark;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
    }

    button:hover {
        border: 1px solid $beige;
        background-color: $beige;
    }
}


#LibraryCard{
    @include flex-col;
    height: 595px;
    margin: 0 20px;
    justify-content: flex-start;

    .cards-info {
       display: flex;
       width: 100%;
       justify-content: space-between;
    }

    .find-card {
        text-align: center;

        p {
            font-size: 30px;
            letter-spacing: 0.6px;
        }
        
        p:first-child {
            margin: 61px auto 25px auto;

        }

        form {
            @include flex-col;
            width: 597px;
            height: 384px;
            border: 3px solid $beige;
            background: #FFF;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            button{
                margin-top: 15px;
                margin-bottom: 10px;
                display: inline-flex;
                padding: 10px 40px;
                align-items: flex-end;
                font-size: 20px;
                border-radius: 2px;
                border: 1px solid $dark;
                font-weight: 700;
                letter-spacing: 1px;
            }
        }

        .card-inf {
            width: 560px;
            height: 272px;
            background: $beige;
            row-gap: 20px;
            @include flex-col;

            h6 {
                width: 100%;
                text-align: left;
                margin-left: 35px;
                margin-bottom: 10px;
            }
        }

        input {
            //check
            width: 520px;
            height: 66px;
            border-radius: 10px;
            border: none;
        }

        input::placeholder{
            color: $gray;
            padding-left: 20px;
            font-family: Forum;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 50px; 
            letter-spacing: 0.6px;
        }
    }

    h6 {
        @include heading;
        margin: 0;
        font-size: 30px;
        letter-spacing: 0.6px;
        text-transform: none;
    }

    .get-card {
        width: 456px;
        height: 253px;
        text-align: right;
        margin-top: 61px;

        p {
            margin-top: 25px;
            margin-bottom: 0;
            text-align: right;
            font-size: 20px;
            letter-spacing: 0.4px;
        }

        .buttons {
            padding-top: 40px;
        }

        button {
            display: inline-flex;
            font-size: 10px;
            font-weight: 700;
            width: 75px;
            height: 30px;
            padding: 10px 0px;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            border: 1px solid $dark;
        }

        button:nth-child(1) {
            margin-right: 15px;
        }
    }

}

footer {
    height: 250px;
    background-color: $black-color;
    color: $main-color;
    @include flex-col;
    margin: 0 20px;

    a {
        @include text;
        color: $main-color;
        font-size: 20px;
        line-height: 20px;
    }

    p {
        color: $main-color;
        line-height: 20px; 
    }

    .line{
        margin-top: 20px;
        width: 100%;
        height: 1px;
        background-color: $main-color;
    }

    .contacts-hours {
        padding-top: 20px;
        @include flex-col;
        width: 100%;
        gap: 10px;

        a {
            text-align: left;
            font-size: 15px;
            letter-spacing: normal;
        }

        p {
            margin: 0;
            width: 149px;
            text-align: right;
            font-size: 15px;
            letter-spacing: normal;
        }

        .row {
            display: flex;     
            width: 100%; 
            align-items: center;
            justify-content: space-between;
            padding: 0;

            
        }

        .location {
                        text-align: left;
                        width: 229px;
                    }

        .date {
            @include flex-col;
        }
    }

    .social {
        margin: 0;
        padding: 0;
        gap: 15px;
    }

    .links {
        width: 100%;
        padding: 44px 0;
        display: flex;
        justify-content: space-between;
        
        a,
        p {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        }
    }

    
}